<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Productos</h3>
        </div>
        <div class="card-body">
          <div class="table-data__tool">
            <!-- <div class="table-data__tool-left">
              <div class="rs-select2--light rs-select2--md">
                <select class="js-select2" name="property">
                  <option selected="selected">All Properties</option>
                  <option value="">Option 1</option>
                  <option value="">Option 2</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
              <div class="rs-select2--light rs-select2--sm">
                <select class="js-select2" name="time">
                  <option selected="selected">Today</option>
                  <option value="">3 Days</option>
                  <option value="">1 Week</option>
                </select>
                <div class="dropDownSelect2"></div>
              </div>
              <button class="au-btn-filter">
                <i class="zmdi zmdi-filter-list"></i>filtrar
              </button>
            </div> -->
            <div class="table-data__tool-right">
              <a href="#!/raiz/empleado/productosE/agregar">
                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                  <i class="zmdi zmdi-plus"></i> Agregar producto
                </button>
              </a>
            </div>
          </div>

          <div class="table-responsive table-responsive-data2">
            <table class="table table-data2 table-bordered" ng-table="GPEmpCtrl.productosTabla">
              <tr ng-repeat="producto in GPEmpCtrl.productosLista">
                <td data-title="'Nro.'" align="center" width="5%">
                  {{$index + 1}}
                </td>
                <td data-title="'Producto'">
                  {{producto.descripcion}}
                </td>
                <td data-title="'Categoría'" align="center">
                  {{producto.categoria}}
                </td>
                <td data-title="'Código'" align="center">
                  {{producto.codigo}}
                </td>
                <td data-title="'Referencia'" align="center">
                  {{producto.referencia}}
                </td>
                <td data-title="'Costo'" align="center">
                  S/. {{producto.costo}}
                </td>
                <td data-title="'Acciones'" align="center" width="10%">
                  <div class="col-md-12 table-data-feature" style="justify-content: center;">
                    <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Send">
                      <i class="zmdi zmdi-mail-send"></i>
                    </button> -->
                    <div class="col-md-6">
                      <!-- <a href=""></a>0 -->
                      <!-- <button type="button" class="btn btn-primary waves-effect float-left m-r-10" ng-click="GPEmpCtrl.irCrearCategoria()"><i class="zmdi zmdi-edit"></i> </button> -->
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Editar" type="button" ng-click="GPEmpCtrl.irEditarProducto(producto)">
                        <i class="zmdi zmdi-edit"></i>
                      </button>
                    </div>
                    <!-- <div class="col-md-6">
                      <button class="item" data-toggle="tooltip" data-placement="top" title="Eliminar" ng-click="GPEmpCtrl.eliminarProducto(producto)">
                        <i class="zmdi zmdi-delete"></i>
                      </button>
                    </div> -->
                    <!-- <button class="item" data-toggle="tooltip" data-placement="top" title="Más">
                      <i class="zmdi zmdi-more"></i>
                    </button> -->
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
