<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3>Petición de mantenimiento nueva</h3>
        </div>
        <div class="card-body">
          <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Asunto<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese el asunto de la peticion" ng-model = "GPeCtrl.peticion.descripcion">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Tipo de mantenimiento<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <div class="select">
                        <select class="form-control" ng-model="GPeCtrl.peticion.tipoMantenimiento">
                          <option value="" disabled selected hidden class="placeholder-select">Seleccione un tipo de mantenimiento...</option>
                          <option value="CORRECTIVO" class="placeholder-select">CORRECTIVO</option>
                          <option value="PREVENTIVO" class="placeholder-select">PREVENTIVO</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Categoría del producto<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <div class="select">
                        <select class="form-control"
                          placeholder="Seleccione una categoria"
                          ng-model="GPeCtrl.peticion.categoria"
                          ng-change="GPeCtrl.obtenerProductos()"
                          ng-options="categoria as categoria.descripcion for categoria in GPeCtrl.categoriasLista">
                          <option value="" disabled selected hidden class="placeholder-select">Seleccione una categoría	...</option>
                          <option value="Agregar" class="placeholder-select">Agregar categoría</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Producto<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <div class="select">
                        <select class="form-control"
                          placeholder="Seleccione un producto"
                          ng-model="GPeCtrl.peticion.producto"
                          ng-options="producto as producto.descripcion for producto in GPeCtrl.productosLista">
                          <option value="" disabled selected hidden class="placeholder-select">Seleccione un producto	...</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Orden de mantenimiento<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese el tipo de peticion" ng-model = "GPeCtrl.peticion.descripcion">
                    </div>
                  </div>
                </div>
              </div> -->
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Solicitado por: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input class="form-control input-sm" placeholder="Ingrese alguna referencia del peticion" ng-model = "GPeCtrl.peticion.solicitadoX" readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Fecha de solicitud: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input type="date" class="form-control input-sm" ng-model = "GPeCtrl.peticion.fecha" readonly>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Fecha prevista<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <input type="date" min="2019-12-06" class="form-control input-sm" ng-model = "GPeCtrl.peticion.fechaPrevista">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Prioridad<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <div class="prioridad">
                        <input id="radio1" type="radio" name="estrellas" value="3">
                        <label for="radio1">★</label>
                        <input id="radio2" type="radio" name="estrellas" value="2">
                        <label for="radio2">★</label>
                        <input id="radio3" type="radio" name="estrellas" value="1">
                        <label for="radio3">★</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="label-letra-prometeo col-sm-10 control-label m-t-10 m-b-0">Nota<strong class="text-danger">*</strong>: </label>
                  <div class="col-sm-10">
                    <div class="fg-line">
                      <textarea class="form-control input-sm" placeholder="Ingrese alguna nota adicional sobre la petición" ng-model = "GPeCtrl.peticion.nota"> </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-12" >
              <button type="button" class="btn btn-danger waves-effect float-left" ng-click="GPeCtrl.regresarPeticiones()"><i class="fa fa-times"></i> Regresar</button>
              <button type="button" class="btn btn-success waves-effect float-right" ng-click="GPeCtrl.agregarPeticion()"><i class="fa fa-save"></i> Guardar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .prioridad {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0px;
  }

  .prioridad input {
      position: absolute;
      top: -100px;
      margin: 0px;
  }

  .prioridad label {
      float: right;
      color: #c1b8b8;
      font-size: 40px;
      margin: 0px;
  }

  .prioridad label:hover,
  .prioridad label:hover ~ label,
  .prioridad input:checked ~ label {
      color: orange;
  }
</style>
